<div class="quiz">
    <h1 class="quiz__title --h1-m50">
        Apskaičiuokite lubų ir jų įrengimo kainą tiesiai svetainėje
    </h1>
    <div class="container">
        
        <div class="quiz__block" id="quiz-js">
            <div class="quiz__block-questions qustions" id="qustions-js">
                <div class="qustions__item">
                    <div class="qustions__item-qustion" >лот 1</div>
                    <ul class="qustions__item-answer answer flex --just-space">
                        <li class="answer__item">
                            <label>
                                <img src="" alt="lot" class="answer__item-image">
                                <input type="radio" name="q1">
                                <input type="text" name="q" id="">
                            </label>
                        </li>
                        <li class="answer__item">
                            <label>
                                <img src="" alt="lot" class="answer__item-image">
                                <input type="radio" name="q1">
                                <input type="text" name="q" id="">
                            </label>
                        </li>
                        <li class="answer__item">
                            <label>
                                <img src="" alt="lot" class="answer__item-image">
                                <input type="radio" name="q1">
                                <input type="text" name="q" id="">
                            </label>
                        </li>
                        <li class="answer__item">
                            <label>
                                <img src="" alt="lot" class="answer__item-image">
                                <input type="radio" name="q1">
                                <input type="text" name="q" id="">
                            </label>
                        </li>
                        <li class="answer__item">
                            <label>
                                <img src="" alt="lot" class="answer__item-image">
                                <input type="radio" name="q1">
                                <input type="text" name="q" id="">
                            </label>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="quiz__block-indicator" id="indicator-js">1/10</div>
            <div class="quiz__block-result" id="result-js"></div>
            <div class="quiz__block-controls controls-quiz">
                <button class="controls-quiz__next" id="btn-next-js">next</button>
                <button class="controls-quiz__restart" id="btn-restart-js">restart</button>
            </div>
        </div>
    </div>
</div>