<header class="header">
    <div class="header__menu">
        <div class="container">
            <div class="header__top flex --just-space --align-center">
                <a href="#" class="logo">
                    <img src="img/logo.svg" alt="lubus" class="logo__image">
                </a>
                <!-- сделал ссылкой для того чтобы можно было перейти на google карту
            для адреса по спецификации используеться тэг адрес -->
                <a href="#" class="link-place">
                    <address class="place --Text_b16">
                        Geležinkelio g. 3, Vilnius
                        02100, Lietuva
                    </address>
                </a>
                <div class="header__top-time time --Text_b16">
                    <p class="time__text">I–V: <time datetime="T8.00–20.00">8.00–20.00</time></p>
                    <p class="time__text">VI: <time datetime="T10.00–17.00">8.00–20.00</time></p>
                </div>
                <div class="dropdown">
                    <div class="dropbtn --Text_b16">LT</div>
                    <div class="dropdown-content">
                        <a href="#">English (EN)</a>
                        <a href="#">Lietuvių (LT)</a>
                    </div>
                </div>
                <div class="header__top-call call">
                    <a href="tel:+37060990053" class="call__link">+370 609 900 53</a>
                    <a href="#" class="call__callback">Užsisakykite skambutį</a>
                </div>
                <button class="reserv__btn --Text_b16 --btn-style ">
                    Rezervuokite laiką matavimams
                </button>
            </div>
            <nav class="menu">
                <ul class="menu__list flex --just-center --align-center">
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link --text-b20">
                            Katalogas
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link paslaugos --text-b20">
                            Paslaugos
                        </a>
                        <ul class="paslaugos__list">
                            <li class="paslaugos__list-item">
                                <a href="#" class="paslaugos__list-link">
                                    Įrengimas
                                </a>
                            </li>
                            <li class="paslaugos__list-item">
                                <a href="#" class="paslaugos__list-link">
                                    Išardymas
                                </a>
                            </li>
                            <li class="paslaugos__list-item">
                                <a href="#" class="paslaugos__list-link">
                                    Įtempiamų lubų remontas
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link --text-b20">
                            Galerija
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link --text-b20">
                            Akcijos
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link --text-b20">
                            FAQ
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a href="#" class="menu__list-link --text-b20">
                            Kontaktai
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--не совсем понятно это новая секция и все же header-->
    <div class="header__global">
        <div class="container">
            <p class="header__global-title ">
                Profesionalų atliekama kokybiškų
                <span class="header__global-title_mod">
                    lubų įtempiamų
                </span>
                gamyba ir įrengimas
            </p>
            <p class="header__global-text">
                Padėsime, parinksime, pagaminsime, organizuosime pristatymą, įrengsime ir numatysime visus niuansus.
                Apskaičiuokite lubų kainą ir gaukite 
                <span class="header__global-text_mod">
                    garantuotą dovaną.
                </span>
            </p>
            <button class="header__global-btn --text-b20 --btn-style">
                Skaičiuoti kainą
            </button>
            <div class="header__global-awards awards flex" >
                <div class="awards__one flex">
                    <img src="img/star.png" alt="awards" class="awards__img">
                    <p class="awards__one-text --text_r16">
                        БоIlgesnė nei 12 metų patirtis įtempiamų lubų srityje
                    </p>
                </div>
                <div class="awards__two flex">
                    <img src="img/Sheeld.png" alt="awards" class="awards__img">
                    <p class="awards__two-text --text_r16">
                        Suteikiame 15 metų garantiją, nes esame tikri dėl mūsų darbų kokybės
                    </p>
                </div>
                <div class="awards__three flex">
                    <img src="img/awards.png" alt="awards" class="awards__img">
                    <p class="awards__three-text --text_r16">
                        БоIlgesnė nei 12 metų patirtis įtempiamų lubų srityje
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>